#hero{
    size: 90px;
    height: 85vh;
    background-image: url("/images/dunats.png");
    background-repeat: no-repeat;
    background-position: 90% 20%;  
    background-size: cover;

}


#call_to_action{
    text-align: center;
    color: var(--clr-invert);
 
}

#call_to_action h1{
    font-size: var(--fs-header);
}

