:root {
    /*colors*/
    --clr-primary: #000;
    --clr-secondary: #888;
    --clr-invert: #5065de;

    /*font size*/
    --fs-base: 1.5rem;
    --fs-header: calc(2.5*var(--fs-base));
}
/* text */

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900 */

.noto-rashi hebrew-eden {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}