@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');

.a{
  text-align: left;
}

#content {
    background-color: rgb(243, 237, 237);

    background-image: url(/images/Cute\ and\ Simple\ Design.jpeg); 
    background-position: 100% 25%;
    height: 95vh;
    background-repeat: no-repeat;
}
 .grid-container p{margin-right: 72%;font-size: 95%;margin-left:5%;}

@media only screen and (max-width: 800px){
  .menu-button-container {
    display: inline;
  }
  .menu{display: contents;}
  #hero{
    background-size: cover;height: 55vh;;

  }
  .col{width: auto;} 
  #content{
    background-position: 70% -90%; 

  }
  .footer img{width: 10%;}
  .grid-container p{margin: auto; font-size: medium; padding: 15%;color: rgb(0, 0, 0);padding-top:20%;}
  .logo{width:20%;margin-left: 35%;}}

  
  
