@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');


#hero {
    grid-area: hero;
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: 3% 20%;  
    background-size: cover;
    background-image: url(/images/pink\ course.gif);

   
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    width: 100%;
    background-attachment: fixed; 
background-size: 100% 100%;    
height: 100%;   

 -webkit-align-items: center;    

align-items: center;    

justify-content: center;

     
  }
  
.grid-item {
    padding-top: 10%;
    width: 90%;
      text-align: center;
 

}
/* photos down */
.grid-item1 {
    padding: 8%;
    text-align: center;
    background-color: rgb(218, 214, 214);
    width: 80%;
    height: 90%;
    transition: width 1s, height 1s;
    margin-left: 10%;
    border-radius: 10%;
    font-size:120%;
    
    
}


  /* reviews of people  */
  .grid-item1:hover {
    width: 90%;
    height: 100%;
  }
  #grid-item1 {transition-timing-function: ease-in;}

  
/* border round */
  img {
    border-radius: 3%;
  }

  .container {
    font-size: 100%;
    padding-right: 70%;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*text inside the photos*/
  .box img {vertical-align: middle;
  width: 80%;}
  
   .box {
    bottom: 0;
    color: #6e6b6b;
    padding: 8%;
    padding-left: 25%;
   
    grid-area: content;
  }
  .box h1{text-align: center; padding-right: 21%;font-size: 30px;}
  .box p{text-align: center;padding-right: 20%;font-size: 25px;}
  .body{
    background-color: rgb(243, 237, 237);
  }
  /* button for the lesson */
  .button {
    font-size: 6.5em;
    padding: 20px;
    margin-left: 28%;
    color: black;
    border: 4px solid rgb(238, 158, 171);
    border-radius: 60px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background:rgb(238, 158, 171);
  }
 
  @media (max-width: 400px) {
    #hero{background-image: url(/images/Design\ 4\ mobile\ pink.gif); background-size: cover;
    background-position: 60% 20%;}
    .menu-button-container {
      display: inline;}
      .col{width: auto;}
      .menu{display: contents;}
      .footer img{width: 10%;}
    .grid-container{display: inherit;padding: 2%}
    .button{ margin-left: 10%;}
    .grid-item1 {font-size: 130%;margin-bottom: 3%;margin-left: 5%; };
    #hero{
      background-size: cover;height: 35vh;;}}

      @media (max-width: 800px) {
        #hero{ background-size: cover;height: 85vh;
        background-position: 0% 80%;}
        .menu-button-container {
          display: inline;}
          .col{width: auto;}
          .menu{display: contents;}
          .footer img{width: 10%;}
        .grid-container{display: inherit;padding: 8%}
        .button{ margin-left: 15%;}
       
    }
    @media (max-width: 600px) {
      #hero{background-image: url(/images/Design\ 4\ mobile\ pink.gif); background-size: cover;height: 85vh;
      background-position: 60% 80%;}}