@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');

#hero {
  background-size: cover;height: 80vh;
    background-image: url("/images/donutrecipe.png")
  ;background-position: 80% 20%;}
  #hero h1{padding-right: 5%;font-size: 90px; padding-top: 5%;color: #f4aaaa;padding-top: 20%;}
.body{
    background-color: rgb(240, 227, 227);
    scrollbar-color: dark;
    overflow: auto;  
    word-wrap: break-word;
    overflow: auto;
    display: block;
}
.body article{padding: 5%;
  background-color:rgb(243, 237, 237);font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20%;}
  #container {
    max-width: 1024px;
    margin: auto;
  }

   @media only screen and (max-width: 800px){
   #hero{background-size: cover;height: 20vh;;
   background-position: 66% 20%;}
  
  .menu-button-container {
    display: inline;
  }
  .menu{display: contents;}

  .col{width: auto;} #content{
    background-position: 70% -60%; 

  }
  #hero{
    background-size: cover;height: 35vh;;
  }
  .hero{
    background-image: url("/images/donutrecipemobile.png")
  }

      }
    
    
  
      