@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');

#hero {
  background-size: cover;height: 65vh;
    background-image: url("/images/dunats.png")
  ;background-position: 80% 20%;}
  #hero h1{padding-right: 5%;font-size: 40px; padding-top: 5%;color: #815353;}
.body{
    background-color: rgb(240, 227, 227);
    scrollbar-color: dark;
    overflow: auto;  
    word-wrap: break-word;
    overflow: auto;
    display: block;
}
.body article{padding-right: 10%;
  background-color:rgb(243, 237, 237);font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20%;}
  #container {
    max-width: 1024px;
    margin: auto;
  }

   @media only screen and (max-width: 500px){
   #hero{background-size: cover;height: 20vh;;
  background-position: 66% 20%;}
  .menu-button-container {
    display: flex;
  }
  .footer img{width: 10%;}
  #hero{
    background-size: cover;height: 35vh;;
  }
  .col{width: auto;}
      }
    
    
  
      