@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');

#hero {
    grid-area: hero;
width: 100%;background-image: url("/images/HERO2.png");
height: 80vh;
background-repeat: no-repeat;
background-position: 100% 90%;  
background-size: cover;
   
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3%;
    font-size: 60%;
  }
  
.grid-item {
    padding: 5%;
    font-size: 30%;
    height: 80%;
    text-align: center;

}

/* photos down */
.grid-item1 {
    padding: 5%;
    font-size: 160%;
    text-align: center;
    background-color: rgb(254, 236, 236);
    width:80%;
    height: 100%;
    transition: width 1s, height 1s;
    margin-left: 5%;
    border-radius: 10%;
    
}

  /* reviews */
  .grid-item1:hover {
    width: 90%;
    height: 100%;
  }
  #grid-item1 {transition-timing-function: ease-in;}

  
/* border round */
  img {
    border-radius: 3%;
  }

  .container {
    position: relative;
    font-size: 150%;
    max-width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*text inside the photos*/
  .container img {vertical-align: middle;}
  
  .container .content {
    position:absolute;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    padding: 2%;
    background:  rgba(243, 164, 171, 0.602); 
  }
  .body{
    background-color: rgb(243, 237, 237);
  }
  .box {
    margin-top:5%;
    background: rgba(255,255,255,0.2);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    margin-right: 5%;
    padding: 20px;
    color: black;
    border: 4px solid rgb(240, 195, 202);
    border-radius: 60px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: pink;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(178, 177, 177, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    margin-top: 5%;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .content h1{font-size: 75%;}
  .content p{font-size: 60%;}
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #ecd2d2;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    font-size: 95%;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup p {
    font-size: 95%;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #e05151;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media only screen and (max-width: 700px){
    #hero{
      background-position: 98% 20%; 
      }
     
      .grid {
        display: block;;
        }
      .popup h2 {
        font-size: 65%;}
        .popup p {
          font-size: 55%;}
          .button{font-size: 0.5 rem;padding: 5%; text-align:center;}
          .footer img{width: 10%;}
    
        }

    @media only screen and (max-width: 600px){
    #hero{
  
      background-size: cover;height: 100%;;
      background-position: 95% 40%;margin-top: 15%;
    }
  
    .content{
      grid-template-columns: 1fr;
     }
     .footer img{width: 10%;}
    .button{font-size: 0.5 rem;padding: 5%;text-align:center;}
   .grid-item1 {
    font-size: 40%;}
    .grid {
      display: block;;
      }
    .popup h2 {
      font-size: 35%;}
      .popup h2 {
        font-size:25%;}
        .menu{display: contents;}
  }

  @media (max-width: 800px) {
    .menu-button-container {
      display: inline;
    }
    #hero{
      background-size: cover;height: 75vh;;
      .footer img{width: 10%;}
   
    }
    .col{width: auto;}
    .menu{display: contents;}
  }