@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');


.a{
  text-align: left;
 }


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60%; 
}

body {font-family: Arial, Helvetica, sans-serif;  }
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=submit] {
  background-color:rgb(243, 237, 237); 
;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #edb8c0;
}

.container {
  border-radius: 1%;
  height: 40%;
  width: 40%;
  margin: 10px 35% 2% 10px;
  background-color: rgb(255, 254, 254);
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 800px){
  .menu-button-container {
    display: flex;
  }
  .container{
  width:auto;margin: 10%;
   }
   .img{width:80%; padding-right:35%;}
   .footer img{width: 10%;}
}

@media only screen and (max-width: 500px){
  .menu-button-container {
    display: flex;
  }
  .container{
  margin: 10%;
  width:auto;
  
   }
   .footer img{width: 10%;}
}

