


#call_to_action{
    text-align: center;
    color: var(--clr-invert);
 
}

#call_to_action h1{
    font-size: var(--fs-header);
}

@media only screen and (min-width: 400px) {
    body {
      background-image: url('/images/16.JPG');
    }
  }