@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');


.body{
    text-align: right;
    background-color: rgb(243, 237, 237);
    scrollbar-color: dark;
    overflow: auto;  
    word-wrap: break-word;
    overflow: auto;
    display: block;
    font-size: 80%;
}

.body article{padding-right: 10%;
  background-color:rgb(243, 237, 237);font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20%;}

  
  @media (max-width: 800px) {
    .menu-button-container {
      display: flex;
    }
    .footer img{width: 10%;}
    #hero{
      background-size: cover;height: 35vh;;
  
    }}