@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');


#hero {
    grid-area: hero;
    height: 260px;
    background-position: 60%  20%;;
    background-image: url("/images/zuzana-rYHIP1KrHz0-unsplash.jpg")
     
}

  /* reviews */
  .grid-item1:hover {
    width: 400px;
    height: 400px;
  }
  #grid-item1 {transition-timing-function: ease-in;}

  
/* style the container of all */
.container {
  position: relative;
  border-radius: 5px;
  background-color: rgb(246, 235, 235);
 height: 600px;
  padding-right: 200px;
  padding-left: 200px; 
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

} 
.lessons{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #0a0f0d;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #010201;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  padding-top: 5%;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
  
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #746c6c;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 5%;
  
}

@media (max-width: 800px) {
  .menu-button-container {
    display: inline;
  }
  #hero{
    background-size: cover;height: 35vh;;

  }
  .menu{display: contents;}
  .footer img{width: 10%;}
  .col{width: auto;}}
  