@import url('/styles/vars.css');
@import url('/styles/reset.css');
@import url('/styles/mobile.css');

.grid {
    display: grid;
}

.body {
    grid-template-areas: 
        'header header header header'
        'hero hero hero hero'
        'content content content content'
        'content content content content'
        'footer footer footer footer';
}


#hero {
    grid-area: hero;
    height: 180px;
    background-image: url("/images/hearts\ 2.jpg")

   
}

/* footer with icons */
.footer {
  grid-area: footer;
    padding:5%;
     width: 100%;
     font-weight: bold;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     padding-right: 20px;
     align-content:center ;
     list-style-type: none;
     overflow: hidden;
     background-color:rgb(243, 237, 237); 
     color: white;
    text-align: center;
   
   

    
}
/* icons of footer */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    padding-left: 40px;
  }
  
  .fa:hover {
      opacity: 0.10;
  }
  /* reviews */
  .grid-item1:hover {
    width: 400px;
    height: 400px;
  }
  #grid-item1 {transition-timing-function: ease-in;}

  /* menu dropdown for other options */
   .dropbtn {
    font-weight: bold;
    padding: 7%;
    font-size: 100%;
    border: none;
    cursor: pointer;
    padding-right: 40%;
    align-content:center ;
    list-style-type: none;
    overflow: hidden;
    background-color:rgb(243, 237, 237); 
 
  }
  
  .dropdown-content {
    display: none;
    position:fixed;
    background-color:rgb(243, 237, 237);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color:rgb(243, 237, 237) ;
    text-decoration: none;
    
  }
  
  .dropdown-content a:hover {background-color: rgb(220, 193, 193); ;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: 285px;
  }
  
  .dropdown:hover .dropbtn {
    background-color:rgb(243, 237, 237); ;
  }
  /* arrow in the menu */
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
  
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */ */

/* style the container of all */
.container {
  position: relative;
  border-radius: 5px;
  background-color: rgb(243, 237, 237);
 height: 600px;
  padding-right: 200px;
  padding-left: 200px; 
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

} 
.lessons{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #0a0f0d;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #010201;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  padding-top: 5%;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
  
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #746c6c;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 5%;
  
}
/*new header*/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #73aab7;
  background: linear-gradient(to left, #fefcfc, rgb(243, 237, 237));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000000;
  height: 50px;
  padding: 1em;
}

.menu {
  display: -webkit-box;
  flex-direction: row;
  list-style-type: none;
  margin: 0%;
  padding: 0;
  font-size: 80%;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}


.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #959595;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(210, 210, 210, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 800px) {
  .menu-button-container {
    display: flex;
  }
  #hero{
    background-size: cover;height: 35vh;;

  }
  .col{width: auto;}
  .menu {  display: flex;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(122, 121, 121);
    background-color:rgb(243, 237, 237);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
a:link {
  text-decoration: none ;
font-weight: bold;font-size: medium;
font-family: Arial, Helvetica, sans-serif;
}